## These were required to workaround path and toolchain issues when building
## protobuf on Windows. Not needed for the dev container.
# build --action_env=BAZEL_CXXOPTS="/std:c++latest"
# build --host_cxxopt=/std:c++latest
# build --define=protobuf_allow_msvc=true
# build --shell_executable=C:/tools/msys64/usr/bin/bash.exe
